.service-aside__button:not(.service-aside__button--active),
.service-aside__menu-element,
.service-aside__link,
.service__button:not(.service__button--active) {
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.service-aside__button:not(.service-aside__button--active):hover,
.service-aside__menu-element:not(.service-aside__menu-element--active):hover,
.service-aside__link:hover,
.service__button:not(.service__button--active):hover {
  transform: scale(1.1);
  color: #41f6d7;
  transition: 0.3s;
}

.service-aside {
  display: none;
  max-width: 320px;
  position: fixed;
  background-color: #ffffff;
  flex-direction: column;
  color: #1b1c21;
  font-family: 'TTLakesMedium', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  z-index: 10;
  width: 320px;
  padding: 24px;
  box-shadow: 16px 0px 52px 0px #0e185033;
  height: 100vh;
  animation: slideIn 0.3s ease-in-out;
  z-index: 6;
}

.service-aside__header {
  display: flex;
  margin-bottom: 46px;
}

.service-aside__header > .service-aside__button:first-child {
  margin-right: 16px;
}

.service-aside__header > .service-aside__button:last-child {
  margin-left: 78px;
}

.service-aside__menu {
  padding: 0;
}

.service-aside__menu-element {
  margin-bottom: 32px;
  list-style: none;
}

.service-aside__link {
  color: #1b1c21;
}

.service-aside__contact-ways {
  padding-left: 0;
}

.service-aside__button-catalogue {
  list-style: none;
}

.service-aside__menu :last-child {
  margin-bottom: 0;
}

.service-aside__menu-element--active {
  display: flex;
  align-items: center;
  color: #7e7e82;
  cursor: default;
}

.service-aside__menu-element--active::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  background-color: #41f6d7;
  height: 32px;
  width: 4px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.service-aside__button-catalogue {
  margin-right: 16px;
}

.service-aside__contact-ways {
  display: flex;
  margin-bottom: 16px;
}

.service-aside__phone {
  display: block;
  font-size: 24px;
  font-family: 'TTLakesBold', sans-serif;
  color: #1b1c21;
  text-decoration: none;
}

.service-aside__email {
  display: block;
  margin-bottom: 12px;
  color: #1b1c21;
  text-decoration: none;
}

.lang {
  display: flex;
  margin-top: 14.7%;
}

.lang .service__button {
  font-size: 16px;
  text-transform: uppercase;
}

.lang .lang__button-catalogue {
  margin-left: 7px;
  list-style: none;
}

.lang {
  padding: 0;
}

.lang .lang__button-catalogue:first-child {
  margin-left: 0;
}

.service__button--active {
  color: #7e7e82;
}

.service-aside__footer {
  margin-top: auto;
  font-size: 16px;
}

.container {
  display: block;
  width: 100%;
}

.service-aside--active {
  display: flex !important;
}

.closing {
  animation: slideOut 0.3s ease-in-out forwards;
}

.blur {
  display: none;
}

.blur--active {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 1000vh;
  opacity: 96.05%;
  display: block;
  z-index: 4;
}

.blur--dominate {
  z-index: 9;
}

@media (min-width: 1120px) {
  #close {
    display: none;
  }

  #search {
    margin-left: auto;
  }

  .service-aside {
    position: fixed;
    display: flex;
  }

  .container {
    display: flex;
    height: 100%;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
