node_modules/
dist/
.DS_Store
.Trash/
*.log
.config/
*.bak
# macOS system files
.DS_Store
.Trash/

# Shell history
.bash_history
.zsh_history

# Config files
.gitconfig
.viminfo
.zcompdump

# IDE files
.vscode/

# npm, nvm, node_modules
.npm/
.nvm/

# Other ignored files
*.log
*.bak
*.swp